/* CSS Reset */
body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color : inherit;
}

body {
    background-image: url(images/bg.png);
}

.wrapper {
    background-position: center;
    background-image: url(images/rope.png);
    width: 800px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.logo {
    background-image: url(images/logo.png);
    width: 450px;
    height: 140px;
    display: inline-block;
    margin: 20px 0;
    text-indent: -9999px; /*text 숨기기*/
    /* Image Replacement 기법, IR기법 */
}

.menu {
    width: 200px;
    margin: 30px auto;
    color: #666;
}

.menu li {
    margin-bottom: 5px;
}

.menu li a {
    border: 2px solid ;
    padding: 6px 0;
    display: block;
}

.menu li a:hover {
    color: orange;
}

.footer {
    background-color: #7d410d;
    color: pink;
    text-align: center;
    border-bottom: 10px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden; /* 부모의 범위 밖으로 나간 자식들을 없애는 역할*/
}


/*
가상 선택자
-가상 클래스
-가상 요소
*/
.footer:before { /*가상 요소*/
    content: " "; /* content를 지우면 안된다! */
    background-image: url(images/ground.png);
    background-repeat: repeat x;
    display: block;
    height: 50px;
}

.footer p {
    padding: 20px 0;
}