/* css reset */
body, p, h1, h2, h3, ul { 
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color : inherit;
}

/* Typograph */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}

/* layouts */
.l_wrapper {
    width: 960px;
    margin: 0 auto;
}

.l_sidebar {
    float: right;
    margin-left: 20px;
    width: 300px;
}

.l_main {
    overflow : hidden; /* 사이드바와 분리하기 위한 오버플로우 */
    /* 오버플로우는 넘치는 뷰를 잘라버리기 때문에 정확한 방법은 아니다. display : flow-root; 호환 이슈가 없다면 사용 가능하다. */
    font-family: 'Jua', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rajdhani', sans-serif;

}

/* commons */
.clearfix::before,
.clearfix::after {
    /* 상하단 마진겹침 현상은 block + block 에서 일어나기 때문에 사이에 블록이 아닌것을 추가해 겹칩을 해결한다. */
    content: ' ';
    display: table;
}

.star,
.star::before {
    display: inline-block;
    width: 150px;
    height: 30px;
    background-image: url(images/star-sprite.png);
    overflow: hidden;
}

.star::before {
    content:" ";
    width: 0;
    display: blcok;
    background-position: left bottom;
}

.star_1::before {width: 20%;}
.star_2::before {width: 40%;}
.star_3::before {width: 60%;}
.star_4::before {width: 80%;}
.star_5::before {width: 100%;}

/* button */
.button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    display: inline-block;
}

.button_block {
    display: block;
    text-align: center;
}

.button_important {
    background-color: orangered;
}

/* util */
.mb_5 {margin-bottom: 5px;}

/* components */
body {
    background-image: url(images/bg.png);
    color: #999;
}

.contents {
    padding : 40px 0;
}

.checkout {
    background-color : #222;
}

.checkout-section {
    margin : 20px;
}

.video{
    background-color: dodgerblue;
    padding-top: 56.25%; /* %가 들어가면 video 기준 width 기준으로 높이가 잡힌다. 100% = '정사각형이 됨'*/
    /*%비율로 주게 될 경우 나중에 사이드바 크기가 변해도 같은 비율로 비디오크기가 변경 된다!*/
    position: relative;
}

.video-iframe {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
}

.price {
    font-size : 40px;
    font-weight: bold;
    color : dodgerblue;

}

.price-discount {
    font-weight: normal;
    color: #999;
    font-size : 0.5em;
    position: relative;
    text-decoration: line-through;
}

.price-discount::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0.5em;
    opacity: 0.5;
    background-color: white;;
}

.course-cover {
    background-size: cover;
    background-position: center;
    background-image: url(images/cover.png);
    padding: 30px;
    position: relative;
}

.course-cover::after {
    content: " ";
    background-color: blue;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* https://www.colorzilla.com/gradient-editor/ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);

}

.course-creator, 
.course-title {
    position: relative;
    z-index: 10;
}

.course-creator {
    float: right;
    margin-left: 10px;
    width: 100px;
    text-align: right
}

.course-creator-logo {
    width: 50px;
    border-radius: 50%;
}

.course-creator-contents {
    padding: 5px;
}

.course-creator-contents strong {
    display: block;
}

.course-title {
    display: flow-root;  /* float된 course-creator와 분리 */
}

.course-title h1 {
    color: white;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.course-title p {
    margin-bottom: 20px;
}

.course-section h2 {
    font-size: 30px;
    color: #999;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.course-section-contents {

}

.curriculum {
}

.curriculum-item {
    background-color: #333;
    margin-bottom: 10px;
}

.curriculum-item:last-child {
    margin-bottom: 0;
}

.curriculum-item h3 {
    margin: 10px 20px;
}

.curriculum-item-list{
    background-color: #111;
    padding: 20px 0;
    margin: 5px;
}

.curriculum-link {
    background-color: rgba(255,255,255,0.03);
    display: block;
    margin: 5px 20px;
    padding: 10px;
}

.curriculum-link::before {
    content: " ";
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent currentColor;
    display: inline-block;
}

.curriculum-link:hover {
    color: white;
}

.curriculum-link span {
    /* span에도 class를 주는 것이 좋다 */
    float: right;
    font-size: 10px;
}

.course-section {
    margin: 20px 0;
}