h1, p {
    margin: 0;
}

body {
    background-color: #222;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper::after {
    content: " ";
    display: block;
    clear: both;
}

.section {
    width: 260px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
    float:left;
}

.section:last-child {
    margin: 0;
}

.section.blue{
    color : yellow;
    background-color: dodgerblue;
}

.section.red {
    color: yellow;
    background-color: orangered;
}

.section.yellow {
    color : orangered;
    background-color: yellow;
}

.section::after {
    content: " ";
    display:block;
    clear: both;
}

.section h1 {
    font-size: 80px;
    font-family: 'Jua', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 30px;
    display: inline-block;
}

.section h1 span {
    font-size: 0.5em; /* 부모 px80의 절반 */
    margin: 0, 0.35em;
    opacity: 0.6;
}

.section h1 span::after {
    content: "kcal";
    font-size: 0.5em;
    margin: 0 0.2em;
}

.section-cover {
    float: left;
    width: 200px;
    margin: 0 -60px;
    transition: margin .5s;
}

.section p {
    line-height: 1.5;
}

.section:hover .section-cover{
    margin: 0;
}