/* Reset CSS */
body, ul, h1, h2, p{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color : inherit;
    text-decoration: none;
}

/* Layouts */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* Commons */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.button {
    background-color: purple;
    color: white;
    padding: 0.5em 1.2em 0.5em;
    display: inline-block;
    color: violet;
    border-radius: 3px;
}

/* Components CSS */
body {
    background-color: #111;
    color: #999;
    font-size: 14px;
}

.header {

}

.logo {
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    background-image: url(images/logo.png);
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px; /* a tag는 inline요소라 height가 적용 되지 않지만 float이 들어간 inline요소는 block처럼 처리 된다. */
}

.menu {
    float: left;
}

.menu li {
    float: left;

}

.menu li a {
    display: block;
    height: 80px;
    line-height: 80px; /* line-heght가 들어가면서 위쪽과 아래쪽에 균등한 공간을 준다.(text가 가운데 정렬이 된다.)* */
    padding: 0 20px;
    position: relative;
}

.menu li a:before {
    content: " ";
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 100px; /* margin 을 줘서 선을 없앤다. */
    transition: margin 0.5s;
}

.menu li a:hover {
    color: #fff;
}

.menu li a:hover:before {
    margin: 0;
}

.contents {
}

.cover {
    background-image: url(images/cover.png);
    height: 300px;
    position: relative;
    border-radius: 6px;
}

.cover-car {
    position: absolute;
    right: 0;
    top: -60px;
}

.cover-contents {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
}

.cover-contents h1 {
    line-height: 1.1;
}

.cover-contents h1 strong{
    display: block;
    color: orangered;
}

.cover-contents p {
    margin: 10px 0;
}

.price {
    font-size: 50px;
    font-weight: bold;
    color: orange;
}

.price::before {
    content: "$";
}

.price::after {
    content: "/mo";
    font-size: 0.5em;
    color: #999;
}

.description {
    width: 300px;
}

/* .footer {
    background-color: rgba(255,255,255, 0.8);
} */