h1,h2,ul,p {
    margin: 0; /*기본으로 적용된 스타일을 없앤다.*/
    padding: 0;
}

li {
    list-style-type: none; /* 리스트의 기본 설정을 없애준다. ㆍ <- */
}

body{
    background-attachment: fixed; /*스크롤에 영향 받지 않고 고정*/
    background-size: cover;
    background-position: center;
    background-image: url(images/halloween-background.gif);
    background-color: #666;
}

.wrapper {
    background-color: #ddd;
    width: 800px;
    margin: 50px auto;
}

.header{
    background-image: url(images/halloween-header-bg.png);
    color: white;
    height: 400px;
    text-align: center;
}

.header .profile{
    margin-top: 50px;
}

.header h1 {
    color: violet;
    margin: 10px 0;
}

.header p {
    background-color: black;
    color: #666;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.section {
    background-image: url(images/icon-information.png);
    background-repeat: no-repeat; /*이미지 반복을 없앤다.*/
    background-position: right 30px center; /*오른쪽 끝에서 30px 떨어지게*/
    background-color: white;
    margin: 20px; /*마진 겹침 현상. 위아래 마진이 맞닿을 경우 가장 큰 범위의 마진으로 합쳐진다.*/
    padding: 20px;
}

.section h2 {
    color: orangered;
    margin-bottom: 20px;
}

.section li {
    border-left: 5px solid #ddd;
    padding:6px 10px 4px;
}

.section li:hover {
    color: orangered;
    border-color: orangered;
}

.footer {
    background-color: #111;
    color: white;
    padding: 10px 0;
    text-align: center;
    color: violet;
    letter-spacing: 5px;
    text-indent: 5px;
}