body, ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body{
    background-color: #0e0e0e;
    background-image: url(images/bg.png);
    color: white;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.cover {
    color: white;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-image: url(images/cover.png);
    height: 25vh; 
    font-size: 5vw;
    position:relative;
}

.cover h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.1em 0.1em 0.2em ;
    border-radius: 5px;
    line-height: 1;
}

.timeline {
    margin:0 -40px;
    padding: 50px;
    position: relative;
}

.timeline:before {
    content:" ";
    background-color: dodgerblue;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: 100px 0 -100px;
    width: 6px;
    transform: translateX(-50%);
}

.timeline-item {
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
}

.timeline-item:before {
    content: " ";
    background-color: #0e0e0e;
    background-image: url(images/bg.png);
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid dodgerblue;
    margin: 50px -20px;
}

.timeline-item:after {
    content: " ";
    background-color: dodgerblue;
    position: absolute;
    right: 0;
    width: 20px;
    height: 5px;
    top: 65px;
    margin: 0 30px;

}

.timeline-item:nth-child(even) {
    margin-left: auto;
    margin-top: -220px;
    margin-bottom: -220px;
}

.timeline-item:nth-child(even):before,
.timeline-item:nth-child(even):after {
    left: 0;
}

.tour {
    background-color: #000;
    min-height: 400px;
}

.tour-cover {
    width: 100%;
}

.tour-contents {
    padding: 30px;
}

.tour-contents h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.tour-contents h2 strong {
    display: block;
    color: #999;
}

.tour-contents p {
    line-height: 1.4;
    color: #999;
}

@media ( max-width: 720px ) {  /* if문과 비슷하다. ()안이 참일 때 블록 실행 */
    .timeline-item:nth-child(even) ,
    .timeline-item {
        width: auto;
        margin: 0 0 40px 50px;
    }

    .timeline:before {
        left: 97px;
        transform: none;
    }

    .timeline-item:after,
    .timeline-item:before {
        left: 0;
    }
}