body, h2, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #ddd;
}

.header {
    height: 300px;
    background-image: url(images/cover.png);
    background-position: center;
    margin-bottom: -100px;
    overflow: hidden;
}

.contents {
    background-color: white;
    width: 860px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -100px; */
    padding: 50px;
}

.box-wrapper {
    overflow: hidden;
    width: 960px;
    margin: 50px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-family: 'arial';
    font-size: 50px;
}

.box.select {
    background-color: orangered;
    margin-left: -50px;
    margin-right: -50px; 
}

.section {
    background-color: #efefef;
    padding: 20px;
}

.section h2 {
    margin-bottom: 20px;
}

.list {
    padding-left: 1em;
}

.list li {
    margin-bottom: 0.4em;
}

.list li::before {
    content: " ";
    background-color: orangered;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    margin-right: 0.4em;
    margin-left: -1em; /* 점에 Negative Margin을 적용해 컨텐츠를 정렬 한다. */
    display: inline-block;
}

.map {
    width: auto;
    background-color: white;
    margin: 30px 0;
    padding: 50px;
    transition: all .5s;
}

.map:hover {
    margin: 30px -100px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}